<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp5.Properties.Settings.Duck_DuckConnectionString"
            connectionString="Data Source=DESKTOP-E7IA7MC\SQLEXPRESS;Initial Catalog=&quot;Duck Duck&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp5.Properties.Settings.DuckDuckConnectionString"
            connectionString="Data Source=35.199.118.140;Initial Catalog=&quot;Duck Duck&quot;;Persist Security Info=True;User ID=sa;Password=Pato123"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp5.Properties.Settings.ConnectionString"
            connectionString="Data Source=35.199.118.140;Persist Security Info=True;User ID=sa;Password=Pato123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp5.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp5.Properties.Settings>
    </userSettings>
</configuration>